{{/* USAGE:
     - $i is your integer
     - $o is the ordinal for $c
     - Use {{ $i }}{{ $o }} to get the full result e.g. 1st, 11th or 22nd

     CREDITS: SpecialEliteSNP <https://github.com/SpecialEliteSNP>
*/}}

{{/* VARIABLES - You can edit these values */}}
  {{/* Your integer */}}
    {{ $i := 12 }}


{{/* CODE - Don't edit this part */}}
{{ $o := "th" }}
{{ $x := reFind `\d{1,2}\z` (str $i) }}
{{ $e := toInt (slice $x (sub (len $x) 1)) }}
{{ if not (reFind `1[1-3]` $x) }}
  {{ if eq $e 1 }}{{ $o = "st" }}
  {{ else if eq $e 2 }}{{ $o = "nd" }}
  {{ else if eq $e 3 }}{{ $o = "rd" }}
  {{ end }}
{{ end }}