{{/* SETUP:
     - Set the restrictions to only run in your counting channel
     - Set the trigger type to Regex and the trigger to: \A
*/}}

{{/* VARIABLES - You can edit these values */}}
{{ $wrong := "not the right number bud 😅" }}{{/* Message when they get the count wrong */}}
{{ $twice := "we do counting together 😠" }}{{/* Message when they try to count twice in a row */}}
{{ $1000_ntf := "Holy moly, have we really reached" }}{{/* Milestone notification for every 1000 */}}
{{ $100_ntf := "We have reached" }}{{/* Milestone notification for every 100 */}}
{{ $warn_on_del := false }}{{/* Warn when a member deletes their latest correct count */}}
{{ $warn_msg := "Don't delete your latest correct count!" }}{{/* Warning message */}}
{{ $ignored_roles := cslice 763447831829938176 764103587223044116 778952687986802698 }}{{/* Role to ignore when trying to warn. This should be the roles above the bot since it can't warn members with a role higher than itself. */}}


{{/* CODE - Don't edit this part */}}
{{ $c := sdict }}{{ with (dbGet 20 "counting").Value }}{{ $c = sdict . }}{{ end }}

{{ if not $c }}
  {{ dbSet 20 "counting" (sdict "c" 1 "m" 0 "u" 0) }}
{{ else if or (not (reFind `\A\d+\z` .Message.Content)) (ne $c.c (toInt .Message.Content)) }}
  {{ addReactions "❌" }}
  {{ deleteTrigger 1 }}
  {{ if not (getMessage nil $c.m) }}
    We're currently at: `{{ $c.c }}`
    {{ $w := true }}{{ range .Member.Roles }}{{ if in $ignored_roles . }}{{ $w = false }}{{ end }}
    {{ if and $warn_on_del $w }}{{ execAdmin "warn" $c.u $warn_msg }}{{ end }}
  {{ else }}
    {{ print .User.Mention ", " $wrong }}
  {{ end }}
  {{ deleteResponse 5 }}
{{ else if eq .User.ID $c.u }}
  {{ addReactions "👎" }}
  {{ deleteTrigger 5 }}
  {{ print .User.Mention ", " $twice }}
  {{ deleteResponse 5 }}
{{ else }}
  {{ deleteAllMessageReactions nil $c.m }}
  {{ addReactions "☑" }}
  {{ dbSet 20 "counting" (sdict "c" (add $c.c 1) "m" .Message.ID "u" .User.ID) }}
  {{ if eq (toInt (mod $c.c 1000)) 0 }}
    {{ print $1000_ntf " " $c.c "?! 😲" }}
  {{ else if eq (toInt (mod $c.c 100)) 0 }}
    {{ print $100_ntf " " $c.c "! 🎉" }}
  {{ end }}
{{ end }}