{{/* SETUP:
     - Set the restrictions to only run in your x-word-story channel
     - Set the trigger type to Regex and the trigger to: \A
*/}}

{{ $w := 3 }} {{/* Replace 3 with amount of words you want to be used in the x-word-story channel */}}

{{/* CODE - Don't edit this part */}}
{{ $u := str .User.ID }}
{{ $lu := "" }}
{{ with (dbGet 20 "story-channel").Value }}{{ $lu = . }}{{ end }}

{{ if not (reFind (print `\A\s*(?:[[:alpha:]]+\s+){` (sub $w 1) `}[[:alpha:]]+\s*\z`) .Message.Content) }}
  {{ deleteTrigger 0 }}
  {{ print .User.Mention ", please use exactly **" $w "** words in this channel 😉" }}
{{ else if or (not $lu) (ne $lu $u) }}
  {{ dbSet 20 "story-channel" $u }}
{{ else }}
  {{ deleteTrigger 0 }}
  {{ .User.Mention }}, you can't write a story on your own 😉
{{ end }}
{{ deleteResponse 5 }}